# Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

name: Build Docker Images

on:
  push:
    branches: [main]
    paths:
      - 'runtime/Dockerfile/**'
  pull_request:
    branches: [main]
    paths:
      - 'runtime/Dockerfile/**'
  workflow_dispatch:
    inputs:
      override_versions:
        description: 'Override all versions (leave empty to use default versions)'
        required: false
      version:
        description: 'Version tag (e.g. v1.6)'
        required: true
        default: 'v1.0'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - docker_path: runtime/Dockerfile/Hub
            image_name: aup-jupyterhub-hub
            default_version: 'v1.1.3'
          - docker_path: runtime/Dockerfile/Basic
            image_name: aup-cpu-notebook
            default_version: 'v1.0'
          # - docker_path: Dockerfile/ROCm-Pytorch
          #   image_name: aup-rocm-pytorch-notebook
          #   default_version: 'v1.0'
          - docker_path: runtime/Dockerfile/RyzenAI-ONNX
            image_name: aup-ryzenai-onnx-notebook
            default_version: 'v2.0'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PACKAGES_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.docker_path }}
          file: ${{ matrix.docker_path }}/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/amdresearch/${{ matrix.image_name }}:${{ github.event.inputs.override_versions || matrix.default_version }}
            ghcr.io/amdresearch/${{ matrix.image_name }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
